body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 172, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: white;
}

button {
    border: none;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(147, 39, 180);
    cursor: pointer;
    font-family: "Poppins";
    color: white;
    font-weight: 600;
}

input, #re {
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: "Poppins";
    padding-left: 5px;
    outline: none;
    width: calc(100% - 10px); /* Pentru a umple lățimea containerului */
}

.input-form {
    max-width: 90%;
    filter: drop-shadow(0 0 0.75rem rgb(121, 96, 116));
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto; /* Centrare pe ecrane mici */
    padding: 20px; /* Spațiere pentru conținut */
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Spațiere pentru conținut */
    box-sizing: border-box; /* Asigură că padding-ul este inclus în dimensiunile containerului */
}

hr {
    color: white;
    width: 100%; /* Umple lățimea containerului */
    height: 5px;
    outline: none;
    background-color: white;
    border-radius: 10px;
    margin: 20px 0; /* Spațiere între linii */
}

